{% extends "base.html" %}

{% block styles %}
    button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        margin-left: 0.5rem
    }
    .new-paste {
        position: absolute;
        right: 2rem;
        top: 1rem;
    }

    button[title^="Delete"] {
        margin-right: 0.3rem;
    }

    button[title^="Delete"]:focus-visible {
        outline: 2px solid currentColor;
        outline-offset: 2px;
    }

    li {
        form > a {
            margin-right: 1.5rem;
        }
    }
   
{% endblock styles %}


{% block content %}
{{ content|safe }}
<script>
  const forms = document.querySelectorAll('form');

    for (const form of forms) {
        form.addEventListener("submit", (event) => {
            const paste = event.target.action?.split("/").at(-1)
            console.warn(`Deleting paste ${paste}`)
            const sure = confirm(`Are you sure you want to delete ${paste}?`)
            if (!sure) {
                event.preventDefault()
            }
        })
    }
</script>
{% endblock content %}


{% block navigation %}
<div class="navigation">
  <a href="/" class="new-paste">New</a>
</div>
{% endblock navigation %}